
	#frm
	{
     width: 40%;
     margin: 100px auto;
     background: rgba(254, 254, 254, 0.2);;
     padding: 5px;
     border-radius: 15px;
	}

	#title
	{
	 color: #fff;
	 font-family: 'Century Gothic','Futura',san-serif;		
	 width: 100%;
     margin-right: 15px; 
     background: rgba(14, 1, 196, 0.2);;
     padding: 1px;
     border-radius: 15px;
	}
    
    #btn
    {
	 color: #fff;
	 background: #000066;
	 border-radius: 15px;
	 width: 30%;
	 padding: 5px;
	 margin-left: 22%; 
	}
     
    #txt1,#txt2
    {
	 font-family: 'Century Gothic','Futura',san-serif;
	 font-size: 20px;
    }

    #user,#pass
    {
     border-radius: 7px; 
    }
